<div style="margin-bottom: 25px;">
  <div @FSDTrigger *ngIf="JumpsRemaining > 0" class="centerText">
    <h4 >{{JumpsRemaining}}</h4>
    <h5 >Jumps Remaining</h5>
  </div>
  <div *ngIf="JumpsRemaining == 0">
    <h4></h4>
  </div>
</div>
<app-spinner *ngIf="!HasBeenScanned" Message="Waiting for System Scan" class="centerText"></app-spinner>
<div *ngIf="HasBeenScanned" class="centerText">
  <h1>System: {{SystemName | async}}</h1>
  <h1>BodyCount: {{BodyCount | async}}</h1>
  <h2>Progress {{((Progress | async) || 0) * 100}}%</h2>
</div>
